body {
    max-width: 600px;
    margin: 0 auto;
}














.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
}
.title {
    background: #e3f4ff;
}
.content {
    background: #e3f4ff;
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
}
.title {
    background: #e3f4ff;
}
.content {
    background: #e3f4ff;
}