.exercio-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099ffa9;
    border: 10px solid #355cdd;

}

.exercio-1 div {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 86, 56, 0.753);
    border: 10px solid #ff0000;
    display: flex;
    justify-content: center;
}