button{
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}

.botao{
    background-color: black;
    color: white;
}

.botao-branco{
    background-color: yellow;
    color: #000;
}